<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <ion-list lines="full" class="ion-no-margin">
        <ion-list-header lines="full">
          <ion-label>
            insira as informações do novo usuário abaixo
          </ion-label>
        </ion-list-header>
        <form (ngSubmit)="onSubmit()" novalidate [formGroup]="form_group" *ngIf="form_group">
          <ion-item>
            <ion-label position="floating">Nome completo*</ion-label>
            <ion-input name="name" id="name" placeholder="JOSE DA SILVA" [formGroup]="form_group" formControlName="name"></ion-input>
          </ion-item>
          <ion-item *ngIf="form_group.controls.name.touched || form_group.controls.name.dirty">
            <small class="error" *ngIf="form_group.controls.name.errors?.required">obrigatório preenchimento</small>
            <small class="error" *ngIf="form_group.controls.name.errors?.minlength">insira pelo menos 5 caracteres</small>
            <small class="error" *ngIf="form_group.controls.name.errors?.maxlength">insira  no máximo 100 caracteres</small>
          </ion-item>
          <ion-item>
            <ion-label position="floating">E-mail*</ion-label>
            <ion-input name="email" type="email" id="username" placeholder="jose@hotmail.com" [formGroup]="form_group" formControlName="email"></ion-input>
          </ion-item>
          <ion-item *ngIf="form_group.controls.email.touched || form_group.controls.email.dirty">
            <small class="error" *ngIf="form_group.controls.email.errors?.required">obrigatório preenchimento</small>
            <small class="error" *ngIf="form_group.controls.email.errors?.email">e-mail inválido</small>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Senha*</ion-label>
            <ion-input type="password" name="password" id="password" [formGroup]="form_group" formControlName="password"></ion-input>
          </ion-item>
          <ion-item *ngIf="form_group.controls.password.touched">
            <small class="error" *ngIf="form_group.controls.password.errors?.required">obrigatório preenchimento</small>
          </ion-item>
          <ion-item>
            <ion-button color="primary" type="submit" [disabled]="form_group.invalid" expand="block">registrar</ion-button>
            <ion-button color="medium" expand="block" [routerLink]="'/login'" >já possuo registro</ion-button>
          </ion-item>
        </form>
      </ion-list>
    </ion-card>
</ion-content>
