<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <ion-list lines="full" class="ion-no-margin">
        <ion-list-header lines="full">
          <ion-label>
            insira suas credenciais abaixo para realizar o login no app
          </ion-label>
        </ion-list-header>
        <form (ngSubmit)="onSubmit()" novalidate [formGroup]="form_group" *ngIf="form_group">
          <ion-item>
            <ion-label position="floating">E-mail*</ion-label>
            <ion-input name="username" type="email" id="username" placeholder="jose@hotmail.com" [formGroup]="form_group" formControlName="username"></ion-input>
          </ion-item>
          <ion-item *ngIf="form_group.controls.username.touched || form_group.controls.username.dirty">
            <small class="error" *ngIf="form_group.controls.username.errors?.required">obrigatório preenchimento</small>
            <small class="error" *ngIf="form_group.controls.username.errors?.email">e-mail inválido</small>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Senha*</ion-label>
            <ion-input type="password" name="password" id="password" [formGroup]="form_group" formControlName="password"></ion-input>
          </ion-item>
          <ion-item *ngIf="form_group.controls.password.touched || form_group.controls.username.dirty">
            <small class="error" *ngIf="form_group.controls.password.errors?.required">obrigatório preenchimento</small>
          </ion-item>
          <ion-item>
            <ion-button color="primary" type="submit" [disabled]="form_group.invalid" expand="block">entrar</ion-button>
            <ion-button color="medium" expand="block" [routerLink]="'/reset'" >esqueci minha senha</ion-button>
            <ion-button color="medium" expand="block" [routerLink]="'/register'">registrar novo usuário</ion-button>
          </ion-item>
        </form>
      </ion-list>
    </ion-card>
</ion-content>
