<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>App Ionic Angular Api</ion-list-header>
          <ion-note>App Ionic com base em Angular 12 para exemplificarmos as operações em nossa api rest feita em Php Laravel</ion-note>
        </ion-list>
        <ion-list id="menu-list">
          <ion-list-header>Menu principal</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of app_pages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list id="config-list">
          <ion-list-header>Configurações</ion-list-header>
          <ion-item lines="none">
            <ion-icon slot="start" ios="settings-outline" md="settings-sharp"></ion-icon>
            <ion-label>Tema escuro</ion-label>
            <ion-toggle slot="end" [checked]="toggle_theme" (ionChange)="changeTheme($event)"></ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
            <ion-button expand="block" [routerLink]="'/login'" color="medium">logout (desconectar meu usuário)</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
